body{
    background: url("Images/fundo.jpg");
    font-family:courier,arial,helvetica;
}

h2{
    position: relative;
    margin: auto;
    text-align: center;
}

h3{
    text-align: center;
}

.conteiner{
    position: relative;
    justify-content: center;
    align-items: center;
    background: rgb(183, 179, 223);
    width: 700px;
    height: 400px;
    margin: auto;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 5px 5px 5px 5px rgba(41, 71, 241, 0.712);
}

.btn{
    background-color: #ddd;
    border: none;
    outline: none;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    margin-top: 30px;
    margin-left: 300px;
    display: inline-block;
    cursor: pointer;
    transition: 0.3s;
}
.btn:hover {
    background-color: #3e8e41;
    color: white;
  }
.select{
    position: relative;
    margin-top: 10px;
    height: 30px;
    width: 130px;
    border: none;
    outline: none;
    border-radius: 8px;
}
.select:hover{
    background-color: rgba(0, 0, 0,0.1);
}
.select:focus{
    background-color: #fff;
    border: 2px solid rgba(30, 85, 270, 0.47);
}
span{
    background-color: #93b4da;
    position: relative;
    margin-top: 10px;
    height: 30px;
    width: 100px;
    border: none;
    outline: none;
    border-radius: 8px;
}
footer{
    color: white;
    text-align: center;
    padding: 5px;
    margin-top: 50px;
}
