*{
    margin: 0;
    padding: 0;
}
.conteiner {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
  }
  
.img-wrapper {
width: 100%;
height: 100%;
overflow: hidden;
}

.img-wrapper img {
width: 100%;
height: 100%;
}

.calculadora{
    position: absolute;
    width: 50%;
    height: 60%;
    border: none;
    background-color: rgb(30, 170, 170);
    border-radius: 5px;
    box-shadow: 10px;
    
}
.calculadora h2{
    color: white;
    text-align: center;
    margin: 0;
    border: none;
    padding: 0;

}
.inputs{
    width: 100%px;
    height: 46.5%;
    border: none;
    border-radius: 5px;
    background-color: rgb(228, 236, 236);
}
.outputs{
    width: 100%;
    height: 46.5%;
    border: none;
    border-radius: 5px;
    background-color: rgb(52, 95, 95);
}
h3{
    text-align: center;
}