body{
    background: url("Images/fundo.jpg");
    font-family:courier,arial,helvetica;
}

section{
    background: rgb(183, 179, 223);
    width: 700px;
    height: 500px;
    margin: auto;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 8px 8px 12px rgba(41, 71, 241, 0.712);
}
.inputcampo1{
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: -230px;
    width: 200px;
    height: 60px;
    margin: auto;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 10px;
}
.campo1{
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: -230px;
    width: 200px;
    height: 60px;
    margin: auto;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 10px;
}
.content{
    color: rgb(0, 0, 0);
    background: blue;
    text-align: center;
}

footer{
    text-align: center;
}